<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Register</title>
		<!-- <link rel="stylesheet" type="text/css" href="/css/style1.css"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="login-form">
			<h1>Register Form</h1>
			<form id="myForm">
				<input type="text" name="username" placeholder="Username">
				<input type="password" name="password" placeholder="Password">
				<input type="submit" value="Register">
			</form>
		</div>
		<br>
		<a href="/login">
			<button>Return to login</button>
		 </a>
		 <p id="output"></p>
	</body>
	<script type="text/javascript">
		var frm = $('#myForm');
		var output = document.getElementById('output')
		frm.submit(function (e) {
			e.preventDefault();
	
			$.ajax({
				type: "POST",
				url: "/users/signup",
				data: frm.serialize(),
				dataType: 'json',
				success: function (data) {
					console.log('Submission was successful.');
					console.log(data);
					output.textContent = data['message'];
				},
				error: function (data) {
					console.log('An error occurred.');
					console.log(data);
					output.textContent = data['message'];
				},
			});
		});
	</script>
</html>